html{
  margin: 0;
  height: 100%;
}
body{
  margin: 0;
  @diff : 40px;
  height: calc(~"100% - @{diff}");
  // background-color: #F88192;
  background: #ECEDEF;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon-github{
  font-size: 20px;
}
.icon-logout1{
  margin-right: -5px;
  margin-left: 5px;
}

#header{
  height: 40px;
  min-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E3E3E;  //#a58383
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .trademark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;

    .icon{
      font-size: 29px;
    }
    img{
      // width: 480px;
      // height: 40px;
      // margin-top: -5px;
      width: 150px;
      height: 50px;
      margin-top: -7px;
    }
  }

  .user-info{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    .add-note{
      height: 30px;
      margin-right: 40px;
      padding: 0 10px;
      display: inline-block;
      border-radius: 3px;
      background: rgba(177, 174, 174, 0.3);
    }

    img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 3px;
    }
  
    li{
      padding-left: 10px;
      font-size: 16px;
    }

    .img{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 3px;
      background-color: #fff;
    }
  }
  
}

#content{
  margin-top: 40px;
  position: relative;
  height: 100%;
  padding: 0 20px;
}






