.toast{
  height: 30px;
  width: 130px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  background: rgba(248, 129, 146, 0.6);
  color: #eff;
  text-align: center;
  line-height:30px;
}